.logo {
  padding-left: 6px;
  padding-top: 6px;
}
.sm-logo {
  display: none;
}
:where(.css-dev-only-do-not-override-ac2jek).ant-layout-sider {
  background: #fff !important;
}

/* :where(.css-1pg9a38).ant-layout .ant-layout-sider-children {
  height: 100vh !important;
  margin-top: -0.1px !important;
  padding-top: 0.1px !important;
  overflow-y: auto !important;
} */

:where(.css-dev-only-do-not-override-ac2jek).ant-layout-sider
  .ant-layout-sider-children {
  height: 100vh !important;
  margin-top: -0.1px !important;
  padding-top: 0.1px !important;
  overflow-y: auto !important;
}
ul.ant-menu.ant-menu-root.ant-menu-inline.ant-menu-light.css-dev-only-do-not-override-ac2jek {
  /* overflow-y: auto; */
  /* height: 100vh !important; */
  /* margin-top: -0.1px !important;
  padding-top: 0.1px !important; */
}
.main_section {
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px 20px 0px 20px;
}

footer.py-4.bg-white {
  margin-top: 20px;
}